@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
}
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 3rem 0 0 0;
    background-color: var(--Very-Light-Gray);
    min-height: 100vh;
    padding:0;
}
header{
    text-align: center;
    width: 40%;
    margin: auto;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;  
    padding: 0px;
  
    width: 100%;
    margin: 0 auto;
 
}
h1{
    color: var(--Grayish-Blue);
    font-weight: 200;
    font-size:1.42rem;
}
h1,.bold-header{
    line-height: 0.8;
}
p{
    color: var(--Grayish-Blue);

}
h2{
    font-weight: 600;
    margin-top: 5px;
}

section{
    padding: 0px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 10px 25px 2px  rgba(0,0,0,0.05),
                -5px 0 25px 0 rgba(0,0,0,0.05);
   max-width:300px;
    margin: 1rem 0;
    
  
}
img{
    float: right;
    padding-bottom: 20px;
    width:40px;
}
.column{
    display: flex;
    flex-direction: column;
       max-width:350px;
   margin: 0 1.5rem;
    
}

.supervisor{
    border-top: var(--Cyan) solid 5px;
  
      
}
.team-builder{
    margin-bottom: 10px;
    border-top: var(--Red) solid 5px;
    
}
.karma{
    margin-top: 5px;
     
    border-top: var(--Orange) solid 5px;
    
}
.calculator{
    border-top: var(--Blue) solid 5px;
   
}


@media (max-width:320px){
  header{
      padding: 1rem 40px;
  }
}
@media (max-width:375px){
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    header{
        width: 80%;
        text-align: center;
        margin: auto;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: .8rem;
    }
    .calculator{
        margin-bottom: 2rem !important;
    }
}

@media (max-width:768px){
    section.d,.column{
        margin:0 auto;
    }
}
@media(max-width:1440px){
    main{
        padding: 0 2.5rem;
        
    }
}